.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin: 45px;
}
.cart-container{
    background-color: rgb(232, 207, 109);
    height: 1000px;
    align-items: center;
}